
<section class="mod how">
  <div class="container">
    <div class="row">
      <div class="col one-whole"><img src="../svg/how.svg" alt="How are we doing it?" class="icon"/>
        <h2>How are we doing it?</h2>
      </div>
      <div class="col one-third-small">
        <h3>Research</h3>
        <p class="text-left">First of all we had a working session to determine the main problems, the main benefits and the main insights that led us to clarify the big picture.</p><img src="../images/how1.jpg" alt="How are we doing it?"/>
      </div>
      <div class="col one-third-small">
        <h3>Analysis</h3>
        <p class="text-left">With the research data in mind, we decided that the main issues from a UX perspective that we have to approach are the structure, the tools and the visual design.</p><img src="../images/how2.jpg" alt="How are we doing it?"/>
      </div>
      <div class="col one-third-small">
        <h3>Definition</h3>
        <p class="text-left">We are already drawing wireframes reflecting the conclusions we reached on our analysis and also making final design proposals.</p><img src="../images/how3.jpg" alt="How are we doing it?"/>
      </div>
    </div>
  </div>
</section>
