
<section class="sexy">
  <div class="container"><img src="../svg/fap.svg" alt="Sexy thing" class="icon"/>
    <h2>It's already happening!</h2>
    <p>This is not just an experimental idea or a funny ΠWEEK game. We actually got in touch with actual Inkscape developers and started an agile conversation to make this real. Some of them are giving us some feedback and we started to iterate.</p>
    <div class="row">
      <div class="one-half-small col">
        <blockquote>Inkscape is primarily created by volunteers and other people who are passionate... share your passion with us. Whatever way your team goes, we're excited to see what you come up with. :) We're also happy to have you as users and in our development community!
          <h3>Josh Andler (@ScislaC)<span>Inkscape developer</span></h3>
        </blockquote>
      </div>
      <div class="one-half-small col">
        <blockquote>Glad to hear you love Inkscape! We would love to have you collaborate with us. </br> I think most current Inkscape developers recognize that our UI could use some serious work. Most of it has been added piece-meal over the years with out much thought about consistency.
          <h3>Tavmjong Bah<span>SVG W3C Group Inkscape representative</span></h3>
        </blockquote>
      </div>
      <div class="one-half-small col">
        <blockquote>Wuaauuu!! Your ideas seems very challenging and very attractive. I like your mockups so much, and I think this way will improve usability and general user attractiveness for Inkscape.
          <h3>Fernando Cuenca Margalef<span>A guy from Indra</span></h3>
        </blockquote>
      </div>
      <div class="one-half-small col">
        <blockquote>Many of your ideas could be proper tools, while others should be re-thought when it comes to the panels and how they are activated and hidden.
          <h3>Martin Owens. (@realdoctomo)<span>Inkscape developer, Artist, and twit</span></h3>
        </blockquote>
      </div>
    </div>
  </div>
</section>
