
<section class="mod tools">
  <div class="container">
    <div class="row">
      <div class="col one-whole"><img src="../svg/tool.svg" alt="Powerful tools" class="icon"/>
        <h2>Powerful tools</h2>
      </div>
      <div class="col one-third-small">
        <p>We find several usability issues on current tools placements and organization. There are too many options at plain sight, with a questionable or difficult to understand organization and with no apparent hierarchy.</p>
        <p>Our proposal implies grouping similar tools, organizing them with some kind of hierarchy and displaying options and parameters consistently.</p>
      </div>
      <div class="col one-third-small"><img src="../svg/tools.svg" alt="Rethinkscape tools"/></div>
      <ul class="col one-third-small">
        <li class="toolbar"><strong>Toolbar</strong>: Here we group the tools that will be used in most case scenarios. We create 3 subgroups: Shapes, Draw lines and Fill areas. Each group contains tools which affect our work in a similar way.</li>
        <li class="panels"><strong>Panels</strong>: This group is for windows with configurable settings, what we indetified as the second level on the user's needs.</li>
        <li class="document"><strong>Document settings</strong>: The special one. Important but with low frequency of use, thats why it's separated from the rest.</li>
      </ul>
    </div>
  </div>
</section>