body,
html {
    @extend %text;
    margin: 0;
    padding: 0;
}

.mod {
    min-height: 100vh;
    padding: 1.4rem;
    text-align: center;

    .container {
        margin: 0 auto;
        max-width: 1360px;
    }
}
