.goal
    .main-goal
        img(src="../svg/goal.svg", alt="Our goal")
        h2 Goal
        p We want Inkscape to be the favourite tool for every...
            span.active visual designer
            span UX designer
            span backend developer
            span web designer
            span graphic designer
            span frontend developer
    p.weapons Our weapons
    .sub-goal
        .goal-ux
            img(src="../svg/goal-ux.svg", alt="Improve usability")
            p Usability
        .goal-ui
            img(src="../svg/goal-ui.svg", alt="Improve UI")
            p Design
        .goal-community
            img(src="../svg/goal-love.svg", alt="Improve your love for inkscape")
            p Community

