section.mod.goal
    .main-goal
        img(src="../svg/goal.svg", alt="Our goal")
        h4 Our goal is
        p We want Inkscape to be the favourite tool for every...
            span.active visual designer
            span UX designer
            span backend developer
            span web designer
            span graphic designer
            span frontend developer
    h4 and our weapons are
    .sub-goal
        .goal-ux
            img(src="../svg/goal-ux.svg", alt="Improve usability")
            p Usability
        .goal-ui
            img(src="../svg/goal-ui.svg", alt="Improve UI")
            p Design
        .goal-community
            img(src="../svg/goal-love.svg", alt="Improve your love for inkscape")
            p Community
