section.mod.how
    .container
        div.row
            div.col.one-whole
                img.icon(src="../svg/heart-bezier.svg", alt="New Structure")
                h2 How are we doing it?
                
            div.col.one-third-small
                h3 Investigation
                p.text-left First of all we had a working session to determine the main problems, the main benefits and the main insights that led us to clarify the big picture.
                img(src="../images/how1.jpg", alt="How are we doing it?")

            div.col.one-third-small
                h3 Analysis
                p.text-left With the investigation in mind, we decided that the main issues from a UX perspective that we have to approach are the structure, the tools and de visual design.
                img(src="../images/how2.jpg", alt="How are we doing it?")

            div.col.one-third-small
                h3 Definition
                p.text-left We are already drawing wireframes reflecting the conclusions we reached on our analysis and also making final design proposals.
                img(src="../images/how3.jpg", alt="How are we doing it?")
