section.how.mod
    .container
        h2 How are we doing it?
        div.row
            div.one-half.col
                h3 Investigation
                p First of all we had a working session to determine the main problems, the main benefits and the main insights that led us to clarify the big picture.
            div.one-half.col
                img(src="../images/how1.jpg", alt="How are we doing it?")

        div.row
            div.one-half.col
                img(src="../images/how2.jpg", alt="How are we doing it?")
            div.one-half.col
                h3 Analysis
                p With the investigation in mind, we decided that the main issues from a UX perspective that we have to approach are the structure, the tools and de visual design.

        div.row
            div.one-half.col
                h3 Definition
                p We are already drawing wireframes reflecting the conclusions we reached on our analysis and also making final design proposals.
            div.one-half.col
                img(src="../images/how3.jpg", alt="How are we doing it?")

