section.how
    .container
        h2 How are we doing it?
        h3 Investigation
        p First of all we had a working session to determine the main problems, the main benefits and the main insights that led us to clarify the big picture.
        img(src="../images/inkscape-screen.png", alt="Inkscape")

        h3 Analysis
        p With the investigation in mind, we decided that the main issues from a UX perspective that we have to approach are the structure, the tools and de visual design.
        img(src="../images/inkscape-screen.png", alt="Inkscape")

        h3 Definition
        p We are already drawing wireframes reflecting the conclusions we reached on our analysis and also making final design proposals.
        img(src="../images/inkscape-screen.png", alt="Inkscape")

