section.landing.grid
    .landing-title
        h1
            span Reth
            strong inkscape
        h2 A new UX/UI proposal for Inkscape
        a.piweek(href="http://piweek.com/", target='_blank', title="This is a ΠWEEK Project") A ΠWEEK Project
