section.structure
    .container
        img.icon(src="../svg/heart-bezier.svg", alt="We love inkscape because...")
        h2 Structure
        p We believe that grouping the type of content and functionalities provided to the user will greatly facilitate his tasks. Defining areas will help the user recognizing what he need without using his memory. We’ll discriminate between tools, subtools, panels and info.
        img(src="../svg/structure.svg", alt="Rethinkscape structure")
        ul
            li.work-space <strong>Work space</strong>: The main space where the user can do their dreams come true.
            li.toolbar <strong>Toolbar</strong>: Here the user will find every tool that he needs to perform his tasks.
            li.tool-settings <strong>Tool settings</strong>: Here the user will always find settings and paramaters of the tools.
            li.colors <strong>Colors Palette</strong>: We love the current color palette, is useful and cool at the same time. We just want to leave it like it is.
            li.info <strong>Info bar</strong>: User will always find info in this area. Just to know about his current status, never to modify things.
            li.panels <strong>Panels</strong>: Complex modifiers and parameter panels.
