section.today
    .container
        img.icon(src="../svg/inkscape.svg", alt="Inkscape")
        h2 Inkscape today
        p Inkscape it’s open source, free, powerful and standard compliant. It makes web development and vectorial design easy and it’s widely supported by the community.
        p Born in 2003 and developed actively since then, it probably never had an actual UX and design work behind.
            strong We want to help Inkscape to be the best tool for designers fixing this.
        img(src="../images/inkscape-screen.png", alt="Inkscape")
