section.mod.today
    .container
        div.row
            div.col.one-whole
                img.icon(src="../svg/inkscape-dark.svg", alt="Inkscape")
                h2 Inkscape today
            div.col.one-half-small.text-left
                p Inkscape it’s open source, free, powerful and standard compliant. It makes web development and vectorial design easy and it’s widely supported by the community.
                p Born in 2003 and developed actively since then, it probably never had an actual UX and design work behind. By fixing this, we want to help Inkscape to be
                    strong  the best tool for every kind of designer.
            div.col.one-half-small
                img(src="../images/inkscape-screen.png", alt="Inkscape")
