section.mod.tools
    .container
    div.row
        div.col.one-whole
            img.icon(src="../svg/heart-bezier.svg", alt="Powerful tools")
            h2 Tools
            p We believe that grouping the type of content and functionalities provided to the user will greatly facilitate his tasks. Defining areas will help the user recognizing what he need without using his memory. We’ll discriminate between tools, subtools, panels and info.
        div.col.one-half-small
            img(src="../images/inkscape-screen.png", alt="Rethinkscape tools")
        ul.col.one-half-small
            li <strong>Tool1</strong>: Here the user will find every tool that he needs to perform his tasks.
            li <strong>Tool2</strong>: Here the user will always find settings and paramaters of the tools.
            li <strong>Tool3</strong>: Complex modifiers and parameter panels.
            li <strong>Tool4</strong>: We love the current color palette, is useful and cool at the same time. We just want to leave it like it is.
            li <strong>Tool5</strong>: User will always find info in this area. Just to know about his current status, never to modify things.
