section.mod.visual
    .container
        img.icon(src="../svg/visual.svg", alt="Visuals")
        h2 Visual
        div.row
            p.col.one-whole Visual design can make the difference if we want inkscape to be used by all kind of designers (Visual, UX, Graphic, Interaction...) and non professional users. A modern, simple and visually beautiful interface will improve user experience.
            .col.one-half-small
                div.img
                    img(src="../images/groups-feature.png", alt="Inkscape")

            .col.one-half-small
                div.img
                    img(src="../images/zoom.png", alt="Inkscape")

            .col.one-whole
                div.img
                    img(src="../images/000layout.png", alt="Inkscape")
