section.mod.who
    .container
        div.row
            div.col.one-whole
                img.icon(src="../svg/kaleidos.svg", alt="Kaleidos")
                h2 Who are these crazy Kaleiders
                
            div.col.one-third-small
                img(src="../images/avatar.jpg", alt="Xavier Julián")
                h3 @xaviju
                p.text-left First of all we had a working session to determine the main problems, the main benefits and the main insights that led us to clarify the big picture.
                a(href="http://twitter.com/xaviju", target="_blank") Follow on Twitter
                

            div.col.one-third-small
                img(src="../images/avatar.jpg", alt="Andrés Gonzalez")
                h3 @myfunnyandy
                p.text-left With the investigation in mind, we decided that the main issues from a UX perspective that we have to approach are the structure, the tools and de visual design.
                a(href="http://twitter.com/myfunnyandy", target="_blank") Follow on Twitter

            div.col.one-third-small
                img(src="../images/avatar.jpg", alt="Juan de la Cruz")
                h3 @elhombretecla
                p.text-left We are already drawing wireframes reflecting the conclusions we reached on our analysis and also making final design proposals.
                a(href="http://twitter.com/elhombretecla", target="_blank") Follow on Twitter
