section.mod.who
    .container
        div.row
            div.col.one-whole
                img.icon(src="../svg/kaleidos.svg", alt="Kaleidos")
                h2 Who are these crazy Kaleiders
                
            div.col.one-third-small
                img(src="../images/xavi.jpg", alt="Xavier Julián")
                a(href="http://twitter.com/xaviju", target="_blank")
                    h3 @xaviju
                p Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!
                

            div.col.one-third-small
                img(src="../images/andres.jpg", alt="Andrés Gonzalez")
                a(href="http://twitter.com/myfunnyandy", target="_blank") 
                    h3 @myfunnyandy
                p You know why, David? Because of the kids. They called me Mr Glass.

            div.col.one-third-small
                img(src="../images/juan.jpg", alt="Juan de la Cruz")
                a(href="http://twitter.com/elhombretecla", target="_blank")
                    h3 @elhombretecla
                p In a comic, you know how you can tell who the arch-villain's going to be?
