section.who
    .container
        h2 Who are these crazy Kaleiders?
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda praesentium architecto, nobis doloremque perspiciatis corporis. Deleniti quos culpa amet optio id, reprehenderit, fugiat molestias vero laborum, unde ab officiis obcaecati.
