section.mod.why
    div.row
        .reasons.col.one-half-small.love
            img.icon(src="../svg/heart-bezier.svg", alt="We love inkscape because...")
            h2 We <strong> love inkscape because... </strong>
            ul
                li
                    span is powerful and has great features
                li
                    span complies with SVG image standards
                li
                    span has an awesome shortcut system
                li
                    span it's OPEN SOURCE!
        .reasons.col.one-half-small.pain
            img.icon(src="../svg/pain.svg", alt="What we love")
            h2 But <strong>the pain is</strong> that...
            ul
                li
                    span it has a lot of non key features at plain sight and at the same level of the basic ones
                li
                    span there are consistency flaws in the user flow
                li
                    span there is room for improvements on visual design
