section.why
    .reasons.love
        img.icon(src="../svg/heart-bezier.svg", alt="We love inkscape because...")
        h2 We <strong> love inkscape because... </strong>
        ul
            li
                span.ok Inkscape is powerful and has great features
            li
                span.ok Complies with SVG image standards
            li
                span.ok Powerful shortcut system
            li
                span.ok Great text management
            li
                span.ok Easy align and arrange tools
            li
                span.ok It's OPEN SOURCE!
    .reasons.pain
        img.icon(src="../svg/pain.svg", alt="What we love")
        h2 <strong>The pain is</strong> that
        ul
            li
                span It has a lot of non key features at plain sight and at the same level of the basic ones
            li
                span There is no consistency in the user flow
            li
                span There is room for improvements on visual design
