section.why
    .reasons.love
        img(src="../svg/heart-bezier.svg", alt="What we love")
        h2 What we love
        ul
            li
                span Inkscape is powerful and has great features
            li
                span Complies with SVG image standards
            li
                span Powerful shortcut system
            li
                span Great text management
            li
                span Easy align and arrange tools
            li
                span It's OPEN SOURCE!
    .reasons.pain
        img(src="../svg/pain.svg", alt="What we love")
        h2 What are the pains
        ul
            li
                span Inkscape is powerful and has great features
            li
                span Complies with SVG image standards
            li
                span Powerful shortcut system
            li
                span Great text management
            li
                span Easy align and arrange tools
            li
                span It's OPEN SOURCE!
