// THIS IS THE MAIN INCLUDES SASS FILE and We Love IT

//********************************************
// VENDOR
//********************************************
@import '../../bower_components/normalize.css/normalize.css';
//Bourbon
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     true;
$prefix-for-spec:      true;
@import '../../bower_components/bourbon/dist/bourbon';

//********************************************
// DEPENDENCIES
//********************************************
@import 'dependencies/helpers';
@import 'dependencies/colors';
@import 'dependencies/typography';
@import 'dependencies/mixins';
@import 'dependencies/forms';

//********************************************
// LAYOUT - Common layout block
//********************************************
@import 'layout/layout';
@import 'layout/grid';

//********************************************
// COMPONENTS - Reusable pieces of code
//********************************************

//********************************************
// MODULES - Single pieces of code
//********************************************

//********************************************
// SHAME
//********************************************
@import 'shame/shame';
