//Uncomment to use fonts
//@each $font-face in DroidSans, DroidSans-Bold {
//    @font-face {
//        font-family: '#{$font-face}';
//        src: url('../fonts/#{$font-face}.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/#{$font-face}.woff') format('woff'),
//        url('../fonts/#{$font-face}.ttf')  format('truetype'),
//        url('../fonts/#{$font-face}.svg#{$font-face}') format('svg');
//    }
//}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
    font-weight: normal;

    a {
        font-weight: inherit;
    }
}

// __Font Sizes__ //
%xsmall {font-size: .3rem;}
%small {font-size: .6rem;}
%medium {font-size: .7rem;}
%large {font-size: 1rem;}
%larger {font-size: 1.2rem;}
%xlarge {font-size: 1.6rem;}
%xxlarge {font-size: 2.4rem;}

// __Font Types__ //

%text {
    color: $white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

%bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

// Font styles

h1 {
    @extend %xxlarge;
    margin: 0;
    padding: 0;
}

h2 {
    @extend %xlarge;
}

h3 {
    @extend %larger;
}

p {
    margin: 0 0 $margin;

    img {
        margin: 0;
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

hr {
    border: solid $gray;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: $margin 0;
}

// __Links__

a,
a:visited {
    color: $gray-light;
    text-decoration: none;
}
