doctype html
html
    head
        meta(charset="utf-8")
        block title
            title Mangosta
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="description", content="Object Oriented Front Architecture")
        meta(name="keywords", content="Front-end, Architecture, CSS3, Jade, SASS")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        block meta

        link(rel="stylesheet", href="styles/main.css")
        block styles

    body
        block content
