.goal {
    background: $dark-green;
    height: 100vh;
    padding: 3rem 2rem;

    img {
        display: block;
        margin: 0 auto;
        max-width: 80px;
        width: 100%;
    }

    .main-goal {
        margin-bottom: 5rem;

        h2 {
            @extend %larger;
            margin: .5rem;
            text-align: center;
        }

        p {
            @extend %larger;
            @extend %bold;
            margin-top: 2rem;
            text-align: center;
        }

        span {
            display: none;

            &:first-child {
                display: block;
            }
        }
    }

    .weapons {
        margin-bottom: 2rem;
        text-align: center;
    }

    .sub-goal {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include align-content(center);


        >div {
            @include flex(1);
            text-align: center;
        }

        .goal-ux {
            color: $green;
        }

        .goal-ui {
            color: $blue;
        }

        .goal-community {
            color: $purple;
        }

        p {
            margin-top: 1rem;
        }
    }
}
