.landing {
    background: url('../images/homebg.png') $grayer no-repeat center center;
    background-size: cover;
    height: 100vh;

    .landing-title {
        padding-top: 66vh;
    }

    h1 {
        @extend %text;
        @extend %xxlarge;
        margin: 0 auto;
        text-align: center;
    }

    h2 {
        @extend %text;
        @extend %medium;
        margin: 0 auto;
        text-align: center;
    }

}
