.landing {

    background: url('../images/grid.png') repeat top left, url('../images/homebg.png') no-repeat;
    background-size: auto, cover;
    height: 100vh;

    .landing-title {
        padding-top: 66vh;
    }

    h1 {
        @extend %xxlarge;
        margin: 0 auto;
        text-align: center;
    }

    h2 {
        @extend %medium;
        margin: 0 auto;
        text-align: center;
    }

    .piweek {
        @extend %medium;
        margin-top: 3rem;
    }

}
