.sexy {
    background: $white;
    color: $black;
    min-height: 100vh;
    padding: 2rem;

    h2 {
        color: $pink;
        text-align: center;
    }

    h3 {
        @extend %bold;
        @extend %medium;
        color: $pink;

        span {
            @extend %medium;
            color: $gray;
            display: block;
        }
    }

    blockquote {
        background: url('../images/quotes.png') no-repeat 0 0;
        color: $gray;
        margin: 0;
        padding: 0 0 0 3rem;
    }
}
