.structure {
    background: $whitish;
    color: $gray;
    min-height: 100vh;
    padding: 2rem;

    .icon {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    h2 {
        color: $grayer;
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;

        li {
            padding: .5rem 0 .5rem 3rem;
            position: relative;

            &::before {
                border-radius: 50%;
                color: $white;
                content: "";
                font-size: 1.1em;
                font-weight: bold;
                height: 30px;
                left: 0;
                line-height: 1.3;
                position: absolute;
                text-align: center;
                top: 20%;
                width: 30px;
            }
        }

        .workspace {
            &::before {
                background-color: $gray-light;
                content: "1";
            }
        }

        .toolbar {
            &::before {
                background-color: $orange;
                content: "2";
            }
        }

        .tools-settings {
            &::before {
                background-color: $green-blue;
                content: "3";
            }
        }

        .colors {
            &::before {
                background-color: $green;
                content: "4";
            }
        }

        .info {
            &::before {
                background-color: $blue;
                content: "5";
            }
        }

        .panels {
            &::before {
                background-color: $purple;
                content: "6";
            }
        }

    }
}
