.today {
    background: $whitish;
    min-height: 100vh;
    padding: 3rem 2rem;
    text-align: center;

    h2 {
      margin: 2rem 0;
      color: $blackish;
    }

    p {
      margin: 0 0 2rem;
      color: $gray;
    }

    img {
        margin-top: 1rem;
        max-width: 100%;
    }

    .icon {
      width: 80px;
      opacity: 0.2;
      margin-top: 0;
    }
}
