.today {
    background: $whitish;

    h2 {
        color: $grayer;
        margin: 2rem 0;
    }

    p {
        color: $gray;
        margin: 0 0 2rem;
    }

    img {
        margin-top: 1rem;
        width: 100%;
    }

    .icon {
        margin-top: 0;
        opacity: .5;
        width: 80px;
    }
}
