.today {
    background: $whitish;
    text-align: left;

    h2 {
        color: $blackish;
        margin: 2rem 0;
    }

    p {
        color: $gray;
        margin: 0 0 2rem;
    }

    img {
        margin-top: 1rem;
        max-width: 100%;
    }

    .icon {
        margin-top: 0;
        opacity: .2;
        width: 80px;
    }
}
