.visual {
    background: url('../images/grid.png') $dark-green repeat top left;
    color: $white;

    .icon {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    h2 {
        text-align: center;
    }

    .img {
        background: $white-trans;
        border-radius: 4px;
        padding: 1rem;
        vertical-align: center;
    }

    img {
        max-width: 100%;
        width: 100%;
    }

    ol {
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }
}
