.who {
    background: url('../images/grid.png') $grayer repeat top left;
    color: $white;
    padding: 2rem;

    .icon {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    h2 {
        color: $white;
        text-align: center;
    }

    a {

        &:hover {
            color: $white;
        }

        h3 {
            @extend %bold;
            @extend %medium;
            color: $blue;
        }

    }

    img {
        border-radius: 50%;
        max-width: 50%;
    }
}
