.who {
    background: url('../images/grid.png') $grayer repeat top left;
    color: $white;
    min-height: 100vh;
    padding: 2rem;

    .icon {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    h2 {
        color: $white;
        text-align: center;
    }

    h3 {
        @extend %bold;
        @extend %medium;
        color: $orange;
    }

    a {
        color: $blue;

        &:hover {
            color: $white;
        }

    }

    img {
        border-radius: 50%;
        max-width: 50%;
    }
}
