.why {
    background: $white;

    .icon {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    .reasons {

        h2 {
            @extend %larger;
            margin: 1rem;
            text-align: center;
        }

        ul {
            margin: 0 auto;
            padding: 0;
        }

        li {
            @extend %medium;
            color: $gray;
            line-height: 1;
            // list-style-image: url('../svg/heart.svg');
            list-style-type: none;
            margin-bottom: 1rem;

            span {
                @extend %small;
            }
        }
    }

    .love {
        margin-bottom: 1rem;

        h2 {
            color: $pink;
        }
    }

    .pain {

        h2 {
            color: $red;
        }
    }
}
