extends views/layout/main

block content
    include views/modules/landing
    include views/modules/today
    include views/modules/why
    include views/modules/goal
    include views/modules/how
    include views/modules/structure
    include views/modules/tools
    include views/modules/visual
    include views/modules/sexy

